<!-- <div class="account-information-view">
	<a href="javascript:history.back()">Back</a>

	<table>
		<tr>
			<td>
				Email
			</td>
			<td>
				{{firebaseUser.email}}
			</td>
		</tr>
		<tr>
			<td>
				Name
			</td>
			<td>
				<input ng-model="profile.name" ng-model-options="{debounce: {'default': 200} }">
			</td>
		</tr>
		<tr>
			<td>
				Role
			</td>
			<td>
				<select ng-model="profile.role">
					<option value="User">User</option>
					<option value="Worker">Worker</option>
					<option value="Manager">Manager</option>
					<option value="Administrator">Administrator</option>
				</select>
			</td>
		</tr>
	</table>

	<a href="#!/change-password">Change password</a>
</div> -->
<water-navbar></water-navbar>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="page-header text-center">
					<h1>
						Profile Information
					</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
				<form role="form" class="form-horizontal">
					<div class="form-group">

						<div class="col-sm-3">
							<label class="control-label">Email:</label>
						</div>
						<div class="col-sm-9">
							<label class="control-label">{{firebaseUser.email}}</label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-3">
							<label class="control-label">Name:</label>
						</div>
						<div class="col-sm-9">
							<input class="form-control" ng-model="profile.name" ng-model-options="{debounce: {'default': 300} }">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-3">
							<label class="control-label">Role:</label>
						</div>
						<div class="col-sm-9">
							<select class="form-control" ng-model="profile.role">
								<option value="User">User</option>
								<option value="Worker">Worker</option>
								<option value="Manager">Manager</option>
								<option value="Administrator">Administrator</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-2">
							<button type="submit" class="btn btn-primary" ng-click="updateProfile()">Update Profile</button>
						</div>
						<div class="col-sm-2">
							<a href="#!/change-password" class="btn btn-default">Change password</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>