<!-- <div class="add-report-view">
	<table>
		<tr>
			<td>
				Title
			</td>
			<td>
				<input ng-model="report.title" ng-model-options="{debounce: {'default': 200} }">
			</td>
		</tr>
		<tr>
			<td>
				Date/time
			</td>
			<td>
				<input class="flatpickr" ng-model="report.datetime" datetime ng-model-options="{debounce: {'default': 200} }">
			</td>
		</tr>
		<tr>
			<td>
				Longitude<span ng-show="report.location.longitude === undefined"> (invalid)</span>
			</td>
			<td>
				<input ng-model="report.location.longitude" ng-model-options="{debounce: {'default': 200} }" longitude>
			</td>
		</tr>
		<tr>
			<td>
				Latitude<span ng-show="report.location.latitude === undefined"> (invalid)</span>
			</td>
			<td>
				<input ng-model="report.location.latitude" ng-model-options="{debounce: {'default': 200} }" latitude>
			</td>
		</tr>
		<tr>
			<td>
				Water condition
			</td>
			<td>
				<select ng-model="report.waterCondition">
					<option value="WASTE">Waste</option>
					<option value="TREATABLE_CLEAR">Treatable (clear)</option>
					<option value="TREATABLE_MUDDY">Treatable (muddy)</option>
					<option value="POTABLE">Potable</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>
				Water type
			</td>
			<td>
				<select ng-model="report.waterType">
					<option value="BOTTLED">Bottled</option>
					<option value="WELL">Well</option>
					<option value="STREAM">Stream</option>
					<option value="LAKE">Lake</option>
					<option value="SPRING">Spring</option>
					<option value="OTHER">Other</option>
				</select>
			</td>
		</tr>
	</table>

	<a href="#!/">Save</a>
</div> -->
<water-navbar></water-navbar>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="page-header text-center">
					<h1>
						Add New Water Report
					</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<form role="form" class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-3">
							<label class="control-label">Title</label>
						</div>
						<div class="col-sm-9">
							<input class="form-control" ng-model="report.title" ng-model-options="{debounce: {'default': 300} }" placeholder="Enter Title">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-3">
							<label class="control-label">Date/Time</label>
						</div>
						<div class="col-sm-9">
							<input class="flatpickr form-control" ng-model="report.datetime" datetime ng-model-options="{debounce: {'default': 300} }">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-3">
							<label class="control-label">Longitude</label>
						</div>
						<div class="col-sm-9">
							<input type="number" ng-model="report.location.longitude" ng-model-options="{debounce: {'default': 300} }" longitude class="form-control"
							 placeholder="0" type="text">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-3">
							<label class="control-label">Latitude</label>
						</div>
						<div class="col-sm-9">
							<input type="number" ng-model="report.location.latitude" ng-model-options="{debounce: {'default': 300} }" latitude class="form-control"
							 placeholder="0" type="text">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-3">
							<label class="control-label">Water Type</label>
						</div>
						<div class="col-sm-9">
							<select class="form-control" ng-model="report.waterType">
								<option value="BOTTLED">Bottled</option>
								<option value="WELL">Well</option>
								<option value="STREAM">Stream</option>
								<option value="LAKE">Lake</option>
								<option value="SPRING">Spring</option>
								<option value="OTHER">Other</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-3">
							<label class="control-label">Water Condition</label>
						</div>
						<div class="col-sm-9">
							<select class="form-control" ng-model="report.waterCondition">
								<option value="WASTE">Waste</option>
								<option value="TREATABLE_CLEAR">Treatable (clear)</option>
								<option value="TREATABLE_MUDDY">Treatable (muddy)</option>
								<option value="POTABLE">Potable</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3">
							<button type="submit" class="btn btn-default" ng-click="addReport()">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>