<!-- <div class="change-password-view">
	<a href="javascript:history.back()">Back</a>
	<div ng-show="error !== ''" class="error">{{error}}</div>
	New password: <input type="password" ng-model="changePasswordField"><br>
	Confirm password: <input type="password" ng-model="changePasswordConfirm"><br>
	<input type="submit" ng-click="changePassword()" value="Change password">
</div> -->

<water-navbar></water-navbar>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="page-header text-center">
					<h1>
						Update Password
					</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
				<form role="form" class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-3">
							<label class="control-label">New Password:</label>
						</div>
						<div class="col-sm-9">
							<input ng-model="changePasswordField" class="form-control" placeholder="New Password" type="password">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-3">
							<label class="control-label">Confirm Password:</label>
						</div>
						<div class="col-sm-9">
							<input ng-model="changePasswordConfirm" class="form-control" placeholder="ConfirmPassword" type="password">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-9">
							<button type="submit" class="btn btn-primary" ng-click="changePassword()">Change Password</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>