<water-navbar></water-navbar>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="page-header text-center">
                    <h1>
                        History Graphs
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label">Date/Time</label>
                        </div>
                        <div class="col-sm-9">
                            <input class="form-control" ng-model="searchInfo.year" ng-change="searchReports()" ng-model-options="{debounce: {'default': 200} }">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label">Longitude</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="number" ng-model="searchInfo.longitude" ng-change="searchReports()" ng-model-options="{debounce: {'default': 200} }"
                                longitude class="form-control" placeholder="0" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label">Latitude</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="number" ng-model="searchInfo.latitude" ng-change="searchReports()" ng-model-options="{debounce: {'default': 200} }"
                                latitude class="form-control" placeholder="0" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label">Type</label>
                        </div>
                        <div class="col-sm-9">
                            <select class="form-control" ng-change="searchReports()" ng-model="searchInfo.contaminant">
                                <option ng-value="true">Contaminant PPM</option>
                                <option ng-value="false">Virus PPM</option>
                            </select>
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-default" ng-click="searchReports()">Search</button>
                        </div>
                    </div>-->
                </form>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <canvas id="line" class="chart chart-line" chart-data="showReports.y" chart-labels="showReports.x" chart-series="series"
                    chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick">
                </canvas>
            </div>
        </div>
    </div>
</div>