<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-md-offset-1">
        <div class="page-header text-center">
          <h1>
            Water Source
            <small>CS 2340 Project Web app</small>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-sm-3">
              <label for="inputEmail3" class="control-label">Email</label>
            </div>
            <div class="col-sm-9">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="email">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">
              <label for="inputPassword3" class="control-label">Password</label>
            </div>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <div class="checkbox">
                <label>
                <input type="checkbox">Remember me</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-2">
              <button type="submit" class="btn btn-primary" ng-click="login()">Sign in</button>
            </div>
            <div class="col-sm-offset-5">
              <a href="#!/register" class="btn btn-default">Register</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>