<water-navbar></water-navbar>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="page-header text-center">
					<h1>
						Water Reports
					</h1>
					<br>
					<a class="btn btn-info " href="#!/add-report ">Add water report</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section">
	<div class="container">
		<!--<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="text-center">
					<form class="form" role="search">
						<div class="form-group">
							<div class="col-sm-10">
								<input class="form-control" placeholder="Search" type="text">
							</div>
							<div class="col-sm-2">
								<button type="submit" class="btn btn-default">Search</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>-->
		<!--<br>-->
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="report in reportData | orderBy: '-datetime.time' ">
						<a ng-href="#!/water-report/{{report.reportNumber}}">{{report.title}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--<div class="main-view ">
	<div>
		<a class="btn btn-danger " href="# " ng-click="logout() ">Log out</a>
	</div>
	<h1 class="well text-center ">Water Reports</h1>

	<div>
		<a class="btn btn-info " href="#!/add-report ">Add water report</a>
	</div>
	<div ng-show="showQuality ">
		<a class="btn btn-info " href="#!/quality-reports ">Water Quality Reports</a>
	</div>
	<div ng-show="showHistory ">
		<a class="btn btn-info " href="#!/history-graph ">History reports</a>
	</div>
	<div>
		<a class="btn btn-info " href="#!/report-map ">Water report map</a>
	</div>
	<div>
		<a class="btn btn-info " href="#!/account-information ">Account information</a>
	</div>
	<br>
	<div class="well backwell ">
		<div class="well " ng-repeat="report in reportData | orderBy: '-datetime.time' ">
			<a ng-href="#!/water-report/{{report.reportNumber}} ">{{report.title}}</a>
		</div>
	</div>
</div>-->