<!-- <div class="water-report-view">
	<a href="javascript:history.back()">Back</a>

	<table>
		<tr>
			<td>
				Title
			</td>
			<td>
				{{report.title}}
			</td>
		</tr>
		<tr>
			<td>
				Date/time
			</td>
			<td>
				{{renderDatetime(report.datetime.time)}}
			</td>
		</tr>
		<tr>
			<td>
				Longitude
			</td>
			<td>
				{{report.location.longitude}}
			</td>
		</tr>
		<tr>
			<td>
				Latitude
			</td>
			<td>
				{{report.location.latitude}}
			</td>
		</tr>
		<tr>
			<td>
				Virus PPM
			</td>
			<td>
				{{report.virusPPM}}
			</td>
		</tr>
		<tr>
			<td>
				Contaminant PPM
			</td>
			<td>
				{{report.contaminantPPM}}
			</td>
		</tr>
		<tr>
			<td>
				Water condition
			</td>
			<td>
				{{conditionString[report.waterCondition]}}
			</td>
		</tr>
	</table>
</div> -->
<water-navbar></water-navbar>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="text-center">Title: {{report.title}}</h1>
				<ul class="lead row list-group">
					<li class="text-right list-group-item col-xs-4">Date/Time</li>
					<li class="list-group-item col-xs-8">{{renderDatetime(report.datetime.time)}}</li>
					<li class="text-right list-group-item col-xs-4">Longitude</li>
					<li class="list-group-item col-xs-8">{{report.location.longitude}}</li>
					<li class="text-right list-group-item col-xs-4">Latitude</li>
					<li class="list-group-item col-xs-8">{{report.location.latitude}}</li>
					<li class="text-right list-group-item col-xs-4">Virus PPM</li>
					<li class="list-group-item col-xs-8">{{report.virusPPM}}</li>
					<li class="text-right list-group-item col-xs-4">Contaminant PPM</li>
					<li class="list-group-item col-xs-8">{{report.contaminantPPM}}</li>
					<li class="text-right list-group-item col-xs-4">Water Condition</li>
					<li class="list-group-item col-xs-8">{{conditionString[report.waterCondition]}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>