<!-- <div class="register-view">
	Register!<br>
	Or <a href="#!/login">log in</a>.<br>
	<div class="register-error">{{error}}</div>
	<input type="name" ng-model="name"><br>
	<input type="email" ng-model="email"><br>
	<input type="password" ng-model="password"><br>
	<input type="password" ng-model="passwordConfirm"><br>
	<select ng-model="role">
		<option value="User">User</option>
		<option value="Worker">Worker</option>
		<option value="Manager">Manager</option>
		<option value="Administrator">Administrator</option>
	</select>
	<input type="submit" ng-click="register()">
</div> -->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="page-header text-center">
          <h1>
            Sign Up
            <small>Enter your details</small>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
        <form role="form" class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-3">
              <label class="control-label">Name</label>
            </div>
            <div class="col-sm-9">
              <input ng-model="name" class="form-control" placeholder="Name" type="name">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">
              <label class="control-label">Email Address</label>
            </div>
            <div class="col-sm-9">
              <input ng-model="email" class="form-control" placeholder="Email Address" type="email">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">
              <label class="control-label">Role</label>
            </div>
            <div class="col-sm-9">
              <select ng-model="role" class="form-control">
                <option value="User">User</option>
                <option value="Worker">Worker</option>
                <option value="Manager">Manager</option>
                <option value="Administrator">Administrator</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">
              <label class="control-label">Password</label>
            </div>
            <div class="col-sm-9">
              <input ng-model="password" class="form-control" placeholder="Password" type="password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">
              <label class="control-label">Confirm Password</label>
            </div>
            <div class="col-sm-9">
              <input ng-model="passwordConfirm" class="form-control" placeholder="Password" type="password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2 col-sm-offset-3">
              <button type="submit" class="btn btn-primary" ng-click="register()">Submit</button>
            </div>
            <div class="col-sm-2">
              <button type="reset" class="btn btn-default" onclick="location.href = '#!/';">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>