<water-navbar></water-navbar>
<div class="container-fluid">
	<ui-gmap-google-map center="map.center" zoom="map.zoom">
		<ui-gmap-marker ng-repeat="report in reports" idKey="report.reportNumber" coords="report.location" click="showWaterReport(report.reportNumber)">
		</ui-gmap-marker>
	</ui-gmap-google-map>
</div>